/* PC 반응형 (기본 설정) */
#postpage-header {
  position: relative;
  width: 100%;
}

.post-header {
  width: 100%;
  height: auto;
  display: block;
}

.post-logo {
  width: clamp(124px, 14.1vw, 170px);
  height: clamp(49px, 5.6vw, 67px);
}

.post-content {
  display: flex;
  position: absolute;
  top: 30px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.post-name {
  color: var(--Grayscale-60, #000);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Actor;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(24px, 3vw, 36px);
  line-height: clamp(30px, 3vw, 40px);
}

.post-profile {
  width: clamp(94px, 12vw, 140px);
  height: clamp(94px, 12vw, 140px);
}

.post-share {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.post-linkBtn,
.post-kakaoBtn,
.post-facebookBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-linkBtn {
  background: #542f1a;
}

.post-kakaoBtn {
  background: #f9e000;
}

.post-facebookBtn {
  background: #1877f2;
}

.post-linkVector,
.post-kakaoVector,
.post-facebookVector {
  width: 18px;
  height: 18px;
}

/* 태블릿 반응형 ( 768px ~ 1199px ) */
@media (min-width: 768px) and (max-width: 1199px) {
  .post-share {
    gap: 12px;
  }
}

/* 모바일 반응형 ( 375px ~ 767px ) */
@media (min-width: 375px) and (max-width: 767px) {
  .post-share {
    gap: 8px;
  }
}
